
/* Medium (md) devices (tablets, 768 and up */
@media (min-width : 768px) {

    // Landing Page
    .landing-page {

        text-align: left;
        .landing-content {
            top: 50%;
            left: 30%;
            transform: translate(-30%,-50%);
        }

        .landing-image {
            top: 40%;
            left: 70%;
            transform: translate(-70%,-40%);

            img {
                width: 100%;
                -webkit-filter: blur(0px); /* Safari 6.0 - 9.0 */
                filter: blur(0px); 
            }
        }
    }

    // About
    #about {
        margin-top : 0em;

        
    }

    // Skills
    #skills {
        
        h2 {
            margin-top: -.9em
        }
    }

    #contacts {

        .container-footer{
            flex-direction: row;
            justify-content: center;
            align-items: center;
            

            .container-contacts {
                width: 30%;
               
            }

            .container-contacts:nth-child(2) {

                width: 35%;
                h2 {
                    font-size: 2rem;
                }
                border: none;
                border-left: 2px solid $logo-color;
                border-right: 2px solid $logo-color;
                margin: 0 1em;
            }
        }
    }

    
}
