@import 'config';
@import 'toggler';
@import 'utilities';


// Header
header {
    width: 100%;
    height: 100vh;
    
}

.container-margin {
    width: 90%;
    margin: 0 auto;
}

// Navigation
#navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 0;

    .logo {
        color: $logo-color;
        font-weight: 700;
        font-size: 2.5rem;
        
        a{
            color: inherit;
            letter-spacing: .1em;
            text-shadow: 2px 2px 4px black;
        }
    }

    .nav-items {
        position: fixed;
        display: flex;
        height: 100vh;
        top:0;
        right: -500px;
        width: 50%;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-shadow: 2px 2px 4px black;
        background: black;
        transition: all 1s ease-in-out;
        z-index: 99;

        li {
            padding: 1.5em;

            a {
                color: $font-color;
            }
        }
    }
}

.show-menu {
    // width: 100%;
    right: 0px!important;
    transition: all 1s ease-in-out;
   
}      

// Landing Page
.landing-page {
    color: $font-color;
    position: relative;
    text-shadow: 2px 2px 4px black;
    height: 80vh;
    text-align: center;

    .landing-content {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 2;
        h1 {
            font-weight: 700;
            margin-bottom: -.1em;
        }

        p {
            border-top: 5px solid $font-color;
            margin-top: .5em;
           
        }
    }

    .landing-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        
        img {
            
            display: inline-block;
            -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
            filter: blur(3px); 
        }
        
    }

}

// About 
#about {
    color: $font-color;
    margin-top: 1em;

    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: -.5em;
        text-align: center;
        text-shadow: $text-shadow;
        text-transform: uppercase;
    }
    .container-about {
        background: $dark2;
        padding: 2em 1.5em;
        

       
        .about-image {
            margin-bottom: 1em;
            img{
                border: 3px solid $logo-color;
                border-radius: 10px;
                width: 100%;
                padding: .5em;
            }
        }
        
        .about-content {
            p {
                font-weight: 300;
                text-align: justify;
            }
        }


    }
}

// SKILLS
.container-skills {
    
    background: $dark3;
    color: $font-color;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
    
    h2{
        position: absolute;
        top:15%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2.5rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: -1.2em;
        text-shadow: $text-shadow;
        text-align: center;
    }
    p{
        margin-top: 2em;
        margin-left: 1em;
        margin-right: 1em;
        
    }
}

// Portfolio
#portfolio {
    .container-portfolio {
       margin-top: 2em;
       margin-bottom: 2em;
       color: $font-color;

        h2{
            font-size: 2.5rem;
            font-weight: 700;
            text-align: center;
        }

        .flex-projects {
            margin: 2em 0;
            display: flex;
            justify-content: space-between;
            height: 20vh;
            overflow-x: scroll;

            &::-webkit-scrollbar {
                width: 1em;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            }

            &::-webkit-scrollbar-thumb {
                background-color: $dark3;
                outline: 1px solid slategrey;
            }



            
            img {
                margin: 0 .5em;
                height: 100%;
            };
        
        }

       
    }
}

@import 'xl';
@import 'lg';
@import 'md';
@import 'sm';
